#still need to link this page to front static page
<div class="private-square span4 text-center">
  <h1> this is the test page </h1>
</div>
  <body>
  <div class="private-square span4 text-center">
    <h2> sample text </h2>
    </div>
    <body class="gray-about-square text-center">
      <abouttext> hell to the yea </abouttext>
      </body>
      